body {
    padding-top: 2em;
    text-align: center;
}

div.image-container {
    padding: 5em;
    display: inline-block;
}

img {
    max-width: 200px;
    padding: 5px;
}

img#farcaster-logo {
    border-radius: 35%;
}

img#github-logo {
    background-color: #000000;
    border-radius: 50%;
}